.idea/
riverrunner/data/
*.csv
.DS_Store
__pycache__
*.cache/

daily.py

secrets.py
data/

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
