.idea/
riverrunner/data/
*.csv
.DS_Store
__pycache__
*.cache/


secrets.py


# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
